<app-header></app-header>

<section class="profile-page container">
  <h2>Profil utilisateur</h2>
  <form class="register-form" (ngSubmit)="onSubmit()" [formGroup]="profileForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nom d'utilisateur</mat-label>
      <input matInput formControlName="username" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Adresse e-mail</mat-label>
      <input matInput type="email" formControlName="email" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Mot de passe</mat-label>
      <input matInput type="password" formControlName="password" required />
    </mat-form-field>

    <button mat-flat-button color="primary" class="submit-button" type="submit">
      Sauvegarder
    </button>
  </form>
</section>
<hr />

<section class="subscribe-page container">
  <h2>Abonnements</h2>
  <app-card-list
    [subscribedTopics]="subscribedTopics"
    (subscribe)="handleSubscribe($event)"
  ></app-card-list>
</section>
