<app-header></app-header>

<section class="profile-page container">
  <h2>Profil utilisateur</h2>
  <form class="register-form" (ngSubmit)="onSubmit()" [formGroup]="profileForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nom d'utilisateur</mat-label>
      <input matInput formControlName="username" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Adresse e-mail</mat-label>
      <input matInput type="email" formControlName="email" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Mot de passe</mat-label>
      <input matInput type="password" formControlName="password" required />
      <mat-error *ngIf="f['password'].hasError('weakPassword')">
        Le mot de passe doit contenir au moins 8 caractères et inclure un
        chiffre, une lettre minuscule, une lettre majuscule et un caractère
        spécial.
      </mat-error>
    </mat-form-field>

    <button
      mat-flat-button
      color="primary"
      class="submit-button"
      type="submit"
      [disabled]="profileForm.invalid || profileForm.pristine || saving"
    >
      {{ saving ? "Saving…" : "Sauvegarder" }}
    </button>
  </form>
</section>
<hr />

<section class="subscribe-page container">
  <h2>Abonnements</h2>
  <div class="subscribe-container">
    <mat-card
      class="subscribe-card"
      *ngFor="let s of subs$ | async; trackBy: trackBySubId"
    >
      <h3>{{ s.topicName }}</h3>
      <p>{{ s.description }}</p>

      <button
        mat-flat-button
        color="primary"
        (click)="onUnsubscribe(s.topicId!)"
      >
        Unsubscribe
      </button>
    </mat-card>
  </div>
</section>
