$primary-color: #7763c5;
$logout-color: #a40f0f;
$breakpoint-md: 768px;

.mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: white;
  position: relative;
  z-index: 1000;
  border-bottom: 1px solid #e0e0e0;

  .mobile-menu-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.5rem;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .logo {
    width: 100px;
    height: auto;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    right: -185px;
    background-color: white;
    width: 100%;
    padding: 2rem 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.5rem;
    height: 72dvh;
    max-width: 185px;
    z-index: 1;
    transition: right 0.3s ease-in-out;
    justify-content: space-between;

    &.show {
      right: 0;
    }

    a {
      text-decoration: none;
      color: #000;
      font-size: 20px;

      &.themes-link {
        color: inherit;
      }

      &.active {
        color: $primary-color;
      }
    }

    button {
      font-size: 1.1rem;
      font-weight: bold;
      color: $logout-color;
      background: none;
      border: none;
      cursor: pointer;
    }
  }

  @media (min-width: $breakpoint-md) {
    display: none; // Hide on desktop
  }
}

.avatar-btn {
  .material-symbols-outlined {
    font-size: 36px;
    color: rgb(0 0 0 / 54%);
    background: #d9d9d9;
    border-radius: 50%;
    padding: 6px;

    // optional hover effect
    &:hover {
      color: $primary-color;
    }
  }

  // active state (when link has "active" class)
  &.active .material-symbols-outlined {
    color: #7763c5; // your purple highlight
  }
}

.mat-button-ripple {
  background-color: red;
  width: 50px;
  height: 50px;
}
