<!-- mobile-navbar.component.html -->
<header class="mobile-header">
  <img src="/assets/logo_p6.png" alt="MDD logo" class="logo" />

  <nav
    *ngIf="authService.isLoggedIn()"
    #menuRef
    [ngClass]="{ 'mobile-menu': true, show: showMenu }"
  >
    <a [routerLink]="['/articles']" (click)="toggleMenu()">Articles</a>
    <a [routerLink]="['/topics']" (click)="toggleMenu()">Thèmes</a>
    <button (click)="logout()">Se déconnecter</button>

    <a
      [routerLink]="['/profile']"
      *ngIf="authService.isLoggedIn()"
      mat-icon-button
      class="avatar-btn"
    >
      <mat-icon>account_circle</mat-icon>
    </a>
  </nav>

  <button
    *ngIf="authService.isLoggedIn()"
    mat-icon-button
    (click)="toggleMenu()"
  >
    <mat-icon>menu</mat-icon>
  </button>
</header>
