<!-- mobile-navbar.component.html -->
<header class="mobile-header">
  <img src="/assets/logo_p6.png" alt="MDD logo" class="logo" />

  <nav
    *ngIf="authService.isLoggedIn()"
    #menuRef
    [ngClass]="{ 'mobile-menu': true, show: showMenu }"
  >
    <div class="mobile-menu-content">
      <button (click)="logout()">Se déconnecter</button>
      <a
        [routerLink]="['/articles']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="toggleMenu()"
        >Articles</a
      >
      <a
        [routerLink]="['/topics']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="toggleMenu()"
        >Thèmes</a
      >
    </div>

    <div>
      <a
        [routerLink]="['/profile']"
        *ngIf="authService.isLoggedIn()"
        mat-icon-button
        class="avatar-btn"
      >
        <span class="material-symbols-outlined">person</span>
      </a>
    </div>
  </nav>

  <button
    *ngIf="authService.isLoggedIn()"
    mat-icon-button
    (click)="toggleMenu()"
  >
    <mat-icon>menu</mat-icon>
  </button>
</header>
