<header class="login-header">
  <a class="icon-button" (click)="goBack()">
    <img src="/assets/logo_p6.png" alt="MDD logo" class="logo" />
  </a>

  <nav class="nav-links">
    <a class="logout">Se déconnecter</a>
    <a [routerLink]="['/articles']" class="active">Articles</a>
    <a class="themes-link">Thèmes</a>
    <button mat-icon-button class="avatar-btn">
      <mat-icon>account_circle</mat-icon>
    </button>
  </nav>
</header>

<button mat-icon-button class="back-button" (click)="goBack()">
  <mat-icon>arrow_back</mat-icon>
</button>
