<app-header></app-header>
<section class="articles-page container">
  <div class="articles-header">
    <button mat-stroked-button [routerLink]="['/articles-new']">
      Créer un article
    </button>
    <button class="sort-button" mat-button (click)="toggleSort()">
      Trier par date
      <span class="material-symbols-outlined">
        {{ sortAsc ? "north" : "south" }}
      </span>
    </button>
  </div>

  <!-- Articles Container -->
  <app-card-list [articles]="articles"></app-card-list>
</section>
