$breakpoint-md: 768px;

.articles-page {
  padding: 1rem;
}

.articles-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;

  .logo {
    height: 40px;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    a {
      text-decoration: none;
      color: #000;

      &.logout {
        color: red;
        font-weight: bold;
      }

      &.active {
        font-weight: bold;
        text-decoration: underline;
      }

      &.themes-link {
        color: #7763c5;
      }
    }

    .avatar-btn {
      margin-left: 1rem;
    }
  }
}

.articles-container {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.5em;

  @media (min-width: $breakpoint-md) {
  }
}

.article-card {
  padding: 1rem;
  width: 100%;
  max-width: 480px;
  background-color: #f5f5f5;

  h3 {
    font-weight: bold;
  }

  button {
    max-width: 200px;
    margin: auto;
    display: ;
  }

  @media (min-width: $breakpoint-md) {
    width: 46%;
    max-width: 400px;
  }

  h3 {
    margin-bottom: 0.5rem;
  }

  .description {
    margin-bottom: 1rem;
  }

  .subscribe-btn {
    width: 100%;
    background-color: #7763c5;
    color: white;

    &[disabled] {
      background-color: #bdbdbd !important;
      color: white;
    }
  }
}
