@import "../../../styles/variables";

.articles-page {
  padding: 1rem;

  @media (min-width: $breakpoint-md) {
    padding: 1.5rem;
  }

  .articles-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    background-color: #7451eb;
    color: white;
  }

  .sort-button {
    background-color: transparent;
    color: white;
    color: inherit;
  }
}
