<a [routerLink]="['/articles', article!.id]">
  <mat-card class="article-card" *ngIf="article">
    <h3>{{ article.title }}</h3>
    <div class="article-metaData">
      <span> Date: {{ article.createdAt | date : "d MMM, y" }} </span>
      <span> Auteur: {{ article.author?.userName }} </span>
    </div>
    <p class="description">Description: {{ article.content }}</p>
  </mat-card>
</a>
<mat-card class="article-card" *ngIf="topic">
  <h3>{{ topic.name }}</h3>
  <p class="description">{{ topic.description }}</p>
  <button
    mat-flat-button
    [color]="topic.subscribed ? undefined : 'primary'"
    [disabled]="topic.subscribed"
    (click)="onSubscribeClick()"
    class="subscribe-btn"
  >
    {{ topic.subscribed ? "Déjà abonné" : "S’abonner" }}
  </button>
</mat-card>

<!-- <mat-card class="article-card" *ngIf="subscribedTopic">
  <h3>{{ subscribedTopic.topicName }}</h3>
  <p class="description">{{ subscribedTopic.description }}</p>
  <button mat-flat-button color="primary" (click)="onSubscribeClick()">
    Se désabonner
  </button>
</mat-card> -->
