<a [routerLink]="['/articles/12']">
  <mat-card class="article-card" *ngIf="article">
    <h3>{{ article.title }}</h3>
    <div class="article-metaData">
      Date: {{ article.date }} Auteur: {{ article.author }}
    </div>
    <p class="description">Description: {{ article.content }}</p>
  </mat-card>
</a>
<mat-card class="article-card" *ngIf="topic">
  <h3>{{ topic.title }}</h3>
  <p class="description">Description: this is the love ..</p>
  <button
    mat-flat-button
    [color]="topic.subscribed ? undefined : 'primary'"
    [disabled]="topic.subscribed"
    class="subscribe-btn"
  >
    {{ topic.subscribed ? "Déjà abonné" : "S’abonner" }}
  </button>
</mat-card>
