<div class="login-container">
  <header class="login-header">
    <img src="/assets/logo_p6.png" alt="MDD logo" class="logo" />
  </header>

  <button mat-icon-button class="back-button" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <h1 class="form-title">Se connecter</h1>

  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>E-mail ou nom d'utilisateur</mat-label>
      <input matInput formControlName="identifier" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Mot de passe</mat-label>
      <input matInput type="password" formControlName="password" required />
    </mat-form-field>

    <button mat-flat-button color="primary" class="submit-button" type="submit">
      Se connecter
    </button>
  </form>
</div>
