<div class="container">
  <header class="login-header">
    <a class="icon-button" [routerLink]="['/']">
      <img src="/assets/logo_p6.png" alt="MDD logo" class="logo" />
    </a>
    <nav class="nav-links">
      <button
        *ngIf="authService.isLoggedIn()"
        (click)="logout()"
        class="logout"
      >
        Se déconnecter
      </button>
      <a
        *ngIf="authService.isLoggedIn()"
        [routerLink]="['/articles']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Articles</a
      >
      <a
        *ngIf="authService.isLoggedIn()"
        class="themes-link"
        [routerLink]="['/topics']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Thèmes</a
      >
      <a
        [routerLink]="['/profile']"
        *ngIf="authService.isLoggedIn()"
        mat-icon-button
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="avatar-btn"
      >
        <span class="material-symbols-outlined">person</span>
      </a>
    </nav>
  </header>

  <button mat-icon-button class="back-button" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>
