$breakpoint-md: 768px;
$primary-color: #7763c5;

.login-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25em;

  .icon-button {
    width: 140px;

    img {
      width: 100%;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    & .logout {
      color: #a40f0f;
      font-weight: bold;
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 14px;
    }

    a {
      text-decoration: none;
      color: #000;
      font-size: 20px;

      &.themes-link {
        color: inherit;
      }
    }
  }

  @media (min-width: $breakpoint-md) {
    border-bottom: 1px solid black;
    height: 90px;
  }
}

.logo {
  display: none;

  @media (min-width: $breakpoint-md) {
    display: block;
  }
}

.avatar-btn {
  .material-symbols-outlined {
    font-size: 36px;
    color: rgb(0 0 0 / 54%);
    background: #d9d9d9;
    border-radius: 50%;
    padding: 6px;

    // optional hover effect
    &:hover {
      color: $primary-color;
    }
  }

  // active state (when link has "active" class)
  &.active .material-symbols-outlined {
    color: #7763c5; // your purple highlight
  }
}

.mat-button-ripple {
  background-color: red;
  width: 50px;
  height: 50px;
}
