@import "../../../styles/variables";

.single-article-page {
  padding: 1em;
  max-width: 800px;
  margin: auto;
  font-size: 18px;

  .single-article-container {
    border-bottom: 1px solid grey;
    padding-bottom: 1.5em;

    .single-article-metaData {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1em;
      margin-bottom: 1em;
      color: rgb(66, 66, 66);
    }
  }
  h3 {
    margin-top: 1.5em;
    font-size: 20px;
  }
}

.comment-form {
  padding: 1em;
  display: flex;
  gap: 1em;
  align-content: center;
  align-items: center;

  textarea {
    border-radius: 16px;
    border: 1px solid #000;
    width: 100%;
    min-height: 100px;
    padding: 1em;
    font-family: Inter, sans-serif;
    font-size: 20px;
  }

  .send-btn {
    color: $primary-color;
    transform: rotate(320deg);
    font-size: 2em;
  }
}
