<app-header></app-header>

<section class="single-article-page">
  <h2>Titre de l’article sélectionné</h2>
  <div class="single-article-container">
    <ul class="single-article-metaData">
      <li>Date</li>
      <li>Author</li>
      <li>Tags</li>
    </ul>

    <p>
      Content: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit
      earum explicabo atque sed consequatur, facilis aut quam, neque doloremque
      temporibus eaque maiores accusamus eum error fuga repellendus eveniet
      minus sequi?
    </p>
  </div>
  <div>
    <h3>Commentaires</h3>
    <app-comment></app-comment>
  </div>
</section>
