<app-header></app-header>

<!-- single-article.component.html -->
<ng-container *ngIf="article$ | async as article; else loading">
  <section class="single-article-page">
    <h1 class="title">{{ article.title }}</h1>

    <div class="single-article-container">
      <ul class="single-article-metaData">
        <li>Date: {{ article.createdAt | date : "d MMM, y" }}</li>
        <li>Author: {{ article.author?.userName || "Unknown" }}</li>
        <li>Topic: {{ article.topic }}</li>
        <!-- <li>Tags: {{ article.tags?.join(', ') }}</li> -->
      </ul>

      <p class="content">{{ article.content }}</p>
    </div>

    <div class="comments">
      <h3>Commentaires</h3>
      <ng-container *ngFor="let c of comments">
        <app-comment [comment]="c"></app-comment>
      </ng-container>
    </div>

    <!-- Add comment form -->
    <form
      class="comment-form"
      [formGroup]="commentForm"
      (ngSubmit)="submitComment()"
    >
      <textarea
        formControlName="content"
        placeholder="Écrivez ici votre commentaire"
        rows="3"
        (keydown.enter)="maybeSubmit($any($event))"
      ></textarea>

      <button
        mat-button
        type="submit"
        class="send-btn"
        [disabled]="commentForm.invalid || submitting"
        aria-label="Envoyer"
        title="Envoyer"
      >
        <span class="material-symbols-outlined"> send </span>
      </button>
    </form>
    <div class="error" *ngIf="error">{{ error }}</div>
  </section>
</ng-container>

<ng-template #loading>
  <p>Loading article…</p>
</ng-template>
