@import "../../../styles/variables";

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  justify-content: start;
  padding-top: 4em;

  @media (min-width: $breakpoint-md) {
    padding: 1rem;
    justify-content: center;
  }

  .logo-main {
    display: block;
    width: 100%;
    max-width: 225px;
    margin-bottom: 4em;

    @media (min-width: $breakpoint-md) {
      max-width: 412px;
      margin-bottom: 2em;
    }
  }

  & .buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;

    @media (min-width: $breakpoint-md) {
      gap: 1rem;
    }

    button {
      width: 135px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.075);
      border-color: black;
      border-radius: 8px;
    }

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      justify-content: space-between;
      max-width: 377px;
      padding: 0 1rem;
    }
  }
}
